.root {
  display: flex;
  margin: 8px 16px;
  border-radius: 8px;
  background-color: var(--color-surface);
  padding: 4px 8px;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}

.text {
  margin: 0 12px;
}

.root.done {
  background-color: rgb(23, 100, 200);
  color: #fff;
}

.root.current {
  background-color: rgb(233, 20, 199);
}

.control {
  display: flex;
  column-gap: 10px;
  margin-right: 16px;
}
